# --- BACKEND (Web Service) VARIABLES ---
# Configurar no container "server/agent"

LIVEKIT_URL=wss://sakae-5xpuk5nz.livekit.cloud
LIVEKIT_API_KEY=API4DzuzbMC3E9X
LIVEKIT_API_SECRET=DseZQ3MOPSmSILraZdlwjAuRNeNhuXhQBeWhWfSHYf8G

OPENAI_API_KEY=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
BEY_API_KEY=sk-ioKQP6TMmLufg-cpj8y7OvFES39_WSi01MdwpMdq1uo

# Optional
BEY_AVATAR_ID=
PORT=3000

# --- FRONTEND (Static Site) VARIABLES ---
# Configurar no componente "static site"

VITE_LIVEKIT_URL=wss://sakae-5xpuk5nz.livekit.cloud
VITE_LIVEKIT_API_KEY=API4DzuzbMC3E9X
VITE_LIVEKIT_API_SECRET=DseZQ3MOPSmSILraZdlwjAuRNeNhuXhQBeWhWfSHYf8G
GEMINI_API_KEY=your_gemini_api_key_here
